<layout name="Layout/layout" />

            <div class="main">
                <div class="boxs">
                    <div class="ml l">
                        <div class="t1">招商加盟 <small>/ join</small></div>
                        <div class="pa">
                            <ul class="subnav">
                               <foreach name="infoclass" item="vo" >
                                 <li <if condition="$vo['index'] eq 'on'">class="on"</if>><a href="__MODULE__/Join/index/cid/{$vo.cid}">{$vo.name}</a></li> 
                            </foreach>
                            </ul>
                             <include file="Public:video" /> 
                        </div>
                    </div>
                    <div class="mr r">
                        <div class="t2"><h3>{$arr.name}</h3></div>
                        <div class="a_scroll">
                            <div class="apic">
                                <img src="{$arr.image}" alt="">
                            </div>
                            <div class="cont">
                               {$arr.body}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   <script type="text/javascript">
            $(function () {
                var winH = $(window).height();
                var aboxH = $(".bottom_x").height();
                var bboxH = $(".footer").outerHeight();
                var cboxH = $(".header").outerHeight();
                var dboxH = $(".nav").outerHeight();
                var eboxH = $(".t2").outerHeight();
                $(".bg").css("height",winH - aboxH - bboxH + 'px');
                $(".main").css("height",winH - aboxH - bboxH - cboxH - dboxH - 55 + 'px');
                $(".a_scroll").css("height",winH - aboxH - bboxH - cboxH - dboxH - eboxH - 85 + 'px');
            })
    </script>