

            <div class="main">
                <div class="boxs">
                    <div class="ml l">
                        <div class="t1">關於我們 <small>/ About us</small></div>
                        <div class="pa">
                            <ul class="subnav">
                                <li class="on"><a href="">品牌概述</a></li>
                                <li><a href="">公司文化</a></li>
                                <li><a href="">发展历程</a></li>
                                <li><a href="">活动剪影</a></li>
                            </ul>
                            <include file="Public:video" /> 
                        </div>
                    </div>
                    <div class="mr r">
                        <div class="t2"><h3>公司文化</h3></div>
                        <div class="a_scroll">
                            <div class="apic">
                                <img src="images/2.jpg" alt="">
                            </div>
                            <div class="cont">
                                “天霸精緻建材”源自於台灣萬利昌有限公司 <br>
        天霸秉持一貫的用心與堅持；在設計開發與生產流程及品質管制上，精益求精；更在新層次產品的定位上植入，
        綠色地球、永續生命的概念，並以~“MAZAL”【瑪緻】為新層次系列產品的保證與承諾，象徵著遠比鑽石更
        堅，比所有承諾更確實可靠的一種……內在精神標準之建立。並未產品注入更寬廣的視野與更謙卑關懷德的心
        意。 <br>
        本公司目前共擁有8500平米、二廠六線、近三百員工的生產能力。年產值可達美金1000萬。
        在銷售網絡上已建立台灣、香港、澳門、泰國、日本、土耳其、尼日利亞、中東地區、加拿大、美國等固定總
        代理商通道。而後將以打造中國全國各地直銷服務網絡為短程目標。 <br>
         “天霸精緻建材”源自於台灣萬利昌有限公司 <br>
        天霸秉持一貫的用心與堅持；在設計開發與生產流程及品質管制上，精益求精；更在新層次產品的定位上植入，
        綠色地球、永續生命的概念，並以~“MAZAL”【瑪緻】為新層次系列產品的保證與承諾，象徵著遠比鑽石更
        堅，比所有承諾更確實可靠的一種……內在精神標準之建立。並未產品注入更寬廣的視野與更謙卑關懷德的心
        意。 <br>
        本公司目前共擁有8500平米、二廠六線、近三百員工的生產能力。年產值可達美金1000萬。
        在銷售網絡上已建立台灣、香港、澳門、泰國、日本、土耳其、尼日利亞、中東地區、加拿大、美國等固定總
        代理商通道。而後將以打造中國全國各地直銷服務網絡為短程目標。 <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
            $(function () {
                var winH = $(window).height();
                var aboxH = $(".bottom_x").height();
                var bboxH = $(".footer").outerHeight();
                var cboxH = $(".header").outerHeight();
                var dboxH = $(".nav").outerHeight();
                var eboxH = $(".t2").outerHeight();
                $(".bg").css("height",winH - aboxH - bboxH + 'px');
                $(".main").css("height",winH - aboxH - bboxH - cboxH - dboxH - 55 + 'px');
                $(".a_scroll").css("height",winH - aboxH - bboxH - cboxH - dboxH - eboxH - 85 + 'px');
            })
    </script>
   