<body>
    <div class="bg">
    <div class="bg" style="background-image:url(__MET__images/home_bg.jpg)">  
        <div class="wp">
            <div class="header c">
                <div class="logo l"><a href="index.html"><img src="__MET__images/logo.png" alt=""></a></div>
                <div class="head_txt l text-right">
“MaZal”- 古希伯來文中，一種最高敬意的祝福， <br>
在交易完成階段，只要說出「MAZAL」則代表拍板定語，不再有變。 <br>
一種不悔而更勝於『法律』或『書面契約』之精神層次的約定。
                </div>
                <div class="head_bar r">
                    <div class="a">
                        <span><a href="">English</a><i>|</i><a href="">返回首頁</a></span><span><a href="login.html">登錄</a><i>|</i><a href="reg.html">註冊</a></span>
                    </div>
                    <div class="so">
                        <form action="">
                            <input type="text" name="" id="" class="inp" placeholder="请输入关键词.."><input type="submit" value="搜索" class="mit">
                        </form>
                    </div>
                </div>
            </div>
            <div class="nav">
                <ul>
                    <li><a href="__MODULE__/Index/Index">瑪致官网首页111</a></li>
                    <li><a href="__MODULE__/About/Index">關於我們</a>
                       <!--  <ul id="pop">
                            <li><a href="">品牌概述</a></li>
                            <li><a href="">公司文化</a></li>
                            <li><a href="">发展历程</a></li>
                            <li><a href="">活动剪影</a></li>
                        </ul> -->
                    </li>
                    <li><a href="__MODULE__/Vip/Index">會員專區</a></li>
                    <li><a href="__MODULE__/News/Index">裝飾案例</a></li>
                    <li class="on"><a href="__MODULE__/Product/Index">產品展示</a></li>
                    <li><a href="__MODULE__/Join/Index">招商加盟</a></li>
                    <li><a href="__MODULE__/Contact/Index">联系方式</a></li>
                </ul>
            </div>
