<layout name="Layout/layout" />

            <div class="main">
                <div class="boxs">
                    <div class="case_bann rel">
                        <a href="javascript:;" class="prev abs"><span></span>Previous</a>
                        <a href="javascript:;" class="next abs">Next<span></span></a>
                        <div class="bd">
                            <ul>
                                <li><a href="images/4.jpg" target="_blank"><img src="images/4.jpg" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="a_scroll">
                        <div class="case_cont">
                            <div class="t2"><h3>重庆长青湖案例</h3></div>
                            <div class="p">
                                定位于商务正装、商务休闲装，传统制衣工艺与时代潮流格调相结合，融入“真实、精致”与“活力、进取”等设计风格，以时尚美感与舒适质感为强大载体，实现“得体”、“有型”高品质兼容，将现代男人的事业心、责任心、价值观等高度统一，为30~50岁的都市成功男人量身定制，完美诠释现代都市男人的时代风范。
                                定位于商务正装、商务休闲装，传统制衣工艺与时代潮流格调相结合，融入“真实、精致”与“活力、进取”等设计风格，以时尚美感与舒适质感为强大载体，实现“得体”、“有型”高品质兼容，将现代男人的事业心、责任心、价值观等高度统一，为30~50岁的都市成功男人量身定制，完美诠释现代都市男人的时代风范。
                                定位于商务正装、商务休闲装，传统制衣工艺与时代潮流格调相结合，融入“真实、精致”与“活力、进取”等设计风格，以时尚美感与舒适质感为强大载体，实现“得体”、“有型”高品质兼容，将现代男人的事业心、责任心、价值观等高度统一，为30~50岁的都市成功男人量身定制，完美诠释现代都市男人的时代风范。
                                定位于商务正装、商务休闲装，传统制衣工艺与时代潮流格调相结合，融入“真实、精致”与“活力、进取”等设计风格，以时尚美感与舒适质感为强大载体，实现“得体”、“有型”高品质兼容，将现代男人的事业心、责任心、价值观等高度统一，为30~50岁的都市成功男人量身定制，完美诠释现代都市男人的时代风范。
                                定位于商务正装、商务休闲装，传统制衣工艺与时代潮流格调相结合，融入“真实、精致”与“活力、进取”等设计风格，以时尚美感与舒适质感为强大载体，实现“得体”、“有型”高品质兼容，将现代男人的事业心、责任心、价值观等高度统一，为30~50岁的都市成功男人量身定制，完美诠释现代都市男人的时代风范。
                                定位于商务正装、商务休闲装，传统制衣工艺与时代潮流格调相结合，融入“真实、精致”与“活力、进取”等设计风格，以时尚美感与舒适质感为强大载体，实现“得体”、“有型”高品质兼容，将现代男人的事业心、责任心、价值观等高度统一，为30~50岁的都市成功男人量身定制，完美诠释现代都市男人的时代风范。
                                定位于商务正装、商务休闲装，传统制衣工艺与时代潮流格调相结合，融入“真实、精致”与“活力、进取”等设计风格，以时尚美感与舒适质感为强大载体，实现“得体”、“有型”高品质兼容，将现代男人的事业心、责任心、价值观等高度统一，为30~50岁的都市成功男人量身定制，完美诠释现代都市男人的时代风范。
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <script src="js/jquery.SuperSlide.js" type=text/javascript></script>
    <script type="text/javascript">
            jQuery(".case_bann").slide({mainCell:".bd ul",effect:"leftLoop",autoPlay:true});
    </script>
    <style type="text/css">
            .main {background:none;}
            .a_scroll {width: auto;background: rgba(242,242,242,0.9)}
    </style>

    <script type="text/javascript">
            $(function () {
                var winH = $(window).height();
                var aboxH = $(".bottom_x").height();
                var bboxH = $(".footer").outerHeight();
                var cboxH = $(".header").outerHeight();
                var dboxH = $(".nav").outerHeight();
                var eboxH = $(".case_bann").outerHeight();

                // $(".bg").css("height",winH - aboxH - bboxH + 'px');
                // $(".main").css("height",winH - aboxH - bboxH - cboxH - dboxH - 55 + 'px');
                // $(".a_scroll .p").css("height",winH - aboxH - bboxH - cboxH - dboxH - eboxH - 150 + 'px');
            })

    </script>

